;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies [;[org.clojure/core.async  "1.1.587"]
                [rum "0.11.5"]
                ;[cljs-http "0.1.43"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                ; at some point install binaryage/devtools for Chrome dev
                ]

 :dev-http {3449 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn scrape-n-mail.core/init}}
   }}}
